body {
    background-color: #F5F9F9;
    /* background-size: cover; */
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.unlike_btn,
.like_btn,
.comment-label,
.like_count {
    cursor: pointer;
}

.searchResults {
    position: absolute;
    top: 50px;
    z-index: 100;
    background-color: white;
}

@keyframes flashHighlight {
  from { background-color: rgb(153, 214, 255); }
  to   { background-color: white; }
}

.flash-highlight {
  animation: flashHighlight 10s ease forwards;
}
.count_n{
    position: absolute;
    top:4px;
    left: 4px;
    z-index: 1;
    height: 15px;
    width: 15px;
    color: white;
    font-size: 10px;
}
.notification{
    cursor: pointer;
}